:root {
  --bg-pont-site: #121212;
  --bg-dark: #000000;
  --white: #ffffff;
  --color-hover-yellow: #ffaa1e;
  --color-hover-gray: #999999;
  --color-border-top: #121212;
  --bg-msg-error: #f8d7da;
  --border-msg-error: #f5c2c7;
  --color-msg-error: #842029;
  --bg-msg-success: #d1e7dd;
  --border-msg-success: #badbcc;
  --color-msg-success: #0f5132;
  --bg-yellow-btn-entrar: #ffae23;
  --color-border-btn-entrar: #ffcc77;

  /* margin */
  --mb-5: 5rem;
  --mr-2: 2rem;
}