#profile-image-container {
  width: 180px;
  height: 180px;
  border: 6px solid #f5c518;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin:  15px auto;
}

.page-description {
  color: #999999;
}

#bio {
  max-width: 400px;
}

.form-control.disabled {
  background-color: #cccccc;
}

#change-password-container {
  margin-top: 10px;
}

.edit-profile-page .card-btn {width: auto;}