/* navbar */
.navbar-brand {
  position: relative;
}

#logo {
  width: 50px;
}

#moviestar-title {
  color: var(--white);
  position: absolute;
  bottom: -2px;
  font-size: 30px;
  left: 55px;
  font-weight: bold;
}

#main-navbar {
  background-color: var(--bg-pont-site);
}

#search-form {
  margin: 0 auto;
  background-color: var(--white);
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
}

#search-form .form-control {
  border: none;
  width: 90%;
  box-shadow: none;
}

#navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}
.navbar-nav .nav-item .nav-link {
  color: var(--white);
  transition: .5s;
}
.navbar-nav .nav-item .nav-link:hover {
  color: var(--color-hover-gray);
}
.bold {
  font-weight: bold;
}
.msg-container {
  background-color: var(--bg-dark);
  padding: 15px;
}
.msg {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: solid 1px #000;
  text-align: center;
}

.msg.error {
  color: var(--color-msg-error);
  background-color: var(--bg-msg-error);
  border-color: var(--border-msg-error);
}

.msg.sucess {
  color: var(--color-msg-sucess);
  background-color: var(--bg-msg-sucess);
  border-color: var(--border-msg-sucess);
}

